:root{

--Blue: hsl(246, 80%, 60%);
--Lightredwork: hsl(15, 100%, 70%);
--Softblueplay: hsl(195, 74%, 62%);
--Lightredstudy: hsl(348, 100%, 68%);
--Limegreenexercise: hsl(145, 58%, 55%);
--Violetsocial: hsl(264, 64%, 52%);
--Softorangeselfcare: hsl(43, 84%, 65%);
--very-dark-blue: hsl(226, 43%, 10%);
--dark-blue: hsl(235, 46%, 20%);
--desaturated-blue: hsl(235, 45%, 61%);
--pale-blue: hsl(236, 100%, 87%);

}

@font-face{
  font-family: "rubik-variablefont";
  src: url(../font/Rubik-VariableFont_wght.ttf);
}

body {
  font-family: "rubik-variablefont",Arial, Helvetica, sans-serif;
  background: var(--very-dark-blue);
  color:white;
  font-weight: 300;

}
h1{
 font-weight: 200;
 font-size: 56px;
}
h2{
  font-size:40px;
  font-weight: lighter;
}
h3{
  font-size: 18px;
  font-weight: 500;

 }


.main-grid{
  display:grid;
  grid-template-columns: repeat(4,16em);
  grid-template-rows: repeat(2,16em);
  gap:2rem;
  justify-content: center;
  margin:10% 10%;
  
}
 
.profile-bg {
  background: var(--dark-blue);
  grid-row:1 / span 2;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px !important;

}
.profile-card{
  padding: 10% 10%;
  background-color: var(--Blue);
  height:70%;
  border-radius: 15px !important;
  
}
.profile-photo{

  width:100px;
  margin-bottom:10px;
}
.reportTxt{
  padding-top: 1rem;
  color: var(--pale-blue);
  margin-bottom: 0;
}
.links{
  padding:10% 10%;
}


.task-work{
background-color: var(--Lightredwork);  
background-image: url(../images/icon-work.svg);
background-repeat: no-repeat;
background-position: top right;
border-radius: 18px !important;
}


.task-play{
background-color: var(--Softblueplay);
background-image: url(../images/icon-play.svg);
background-repeat: no-repeat;
background-position: top right;
border-radius: 18px !important;
}

.task-study{
background-color: var(--Lightredstudy);
background-image: url(../images/icon-study.svg);
background-repeat: no-repeat;
background-position: top right;
border-radius: 18px !important;
}


.task-exercise{
  background-color: var(--Limegreenexercise);
  background-image: url(../images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 18px !important;
  }
.task-social{
    background-color: var(--Violetsocial);
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 18px !important;
}
.task-selfcare{
  background-color: var(--Softorangeselfcare);
  background-image: url(../images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 18px !important;
}

.task-card{
  padding: 0 10%;
  background-color: var(--dark-blue);
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px !important;
  

}
 .card-header{
  display: flex;                
  justify-content: space-between; 
  align-items: center;      
  padding: 10px 0;     
     

}
.links{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 200;
  
}
.links p{
  color: var(--desaturated-blue);
  text-decoration: none;
}
.active{
  color:white !important;
}
.links p:hover{
  color: white;
  cursor: pointer;

}
.elipsis{
  font-size: 20px;
  letter-spacing:-1px;
  font-weight: 700;
  color: var(--pale-blue)
}
.elipsis:hover{
  color: white;
  cursor:pointer;
}

.previousTxt{
  color:var(--pale-blue);
  font-size: 15px;
}
.attribution{ font-size: 11px; text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }


/*tablet*/
/* @media (min-width: 580px) and (max-width: 992px){ */
@media  (max-width: 1366px){
  .main-grid{
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 1fr);
  }

}

/*mobile*/

@media (max-width: 579px){
.main-grid{
  grid-template-columns: repeat(1, 95%);
  grid-template-rows: repeat(7, 12em);
  margin: 1em 0;
  
}
.profile-bg {

  grid-row:1;
  
}
.profile-card{
  padding: 3% 5%;
  display: flex;
  flex-direction: row;
  
}
.links{

  flex-direction: row;
  justify-content: space-between;
  
}
.task-card{
  padding: 0 10%;
  flex-direction: column;
  justify-content: space-around;

  
}

.hrs-section{
  padding:0 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.profile-card{
  align-items: center;
}
.profile-card h2{
  font-size: 30px;
  
}
.profile-photo{

  width:80px;
  height:80px;
  margin-bottom:0px;
}

}